AD_REALM=CORP.UMBRELLA.LAB
AD_DOMAIN=CORP
AD_DNS_DOMAIN=corp.umbrella.lab
AD_HOST_NAME=dc1
AD_DNS_FORWARDER=1.1.1.1
AD_BIND=127.0.0.1
AD_LDAP_PORT=389
AD_LDAPS_PORT=636
AD_ADMIN_PASSWORD=Change-me-Admin-2026
AD_SERVICE_PASSWORD=Change-me-Service-2026
AD_USER_PASSWORD=Change-me-User-2026
AD_BASE_DN=DC=corp,DC=umbrella,DC=lab
LAM_PORT=8090
LAM_LANG=ru_RU
LAM_PASSWORD=Change-me-Lam-2026
